html body {
	background-color: #FCF8EC;
}
	
body { 
	padding-left: 40px; 
	padding-top: 50px; 
	overflow: scroll;
}

.content { 
	width: 100%; 
	position: fixed; 
}

.title {
	font-family:Lato;
	font-size: 30px; 
	font-weight: 800; 
	color: #42449D;
	margin-left: 18px; 
}

.links {
	color: #42449D; 
	font-family: Lato;
	font-weight: 300; 
	font-size: 20px; 


}

a:link {
	color: #42449D;  
	text-decoration: none;
}

a:visited {
	color: #42449D;
}

a:hover {
	color: #4649DB; 
}

table {
	width: 100%; 
	border-collapse: separate;
	border-spacing: 20px;
	table-layout: fixed;
	margin-bottom: 100px; 
}




